<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyMedsPlanForiPhone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>301A4D7D1B3B2315003F972C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>301A4D911B3B2317003F972C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>301A4D9C1B3B2318003F972C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
